body {
    background-color: antiquewhite;
    min-height: 100vh;
}

.app-container {
    // height: 100%;
    overflow-y: auto;
}

.link {
    text-decoration: none;
    color: inherit;
}
